.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  max-width: 185px;
}

/* Navigation */

a {
  text-decoration: none;
  padding: 3px;
  color: #1d1d1d;
}

.navigation {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
}
.navLeft {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.navRight {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex: 1;
  text-align: center;
}

.small {
  display: none;
}


.loginBtn {
  background-color: white;
  border: 1.5px solid #1d1d1d;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #1d1d1d;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  width: 170px;
}
.loginBtn:hover {
  cursor: pointer;
  background-color: #f1f086;
  border-radius: 1px solid #1d1d1d;
}
.loginBtn:active {
  background-color: #f1f086;
  box-shadow: 0px 5px 10px #1d1d1d;
  transform: translateY(4px);
}
@keyframes dashboardbtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.loginbtn {
  box-shadow: 0px 2px 5px #1d1d1d;
  border-radius: 5px;
  border: 1px solid #1d1d1d;
  background-color: white;
}
.loginbtn:hover {
  cursor: pointer;
  border-radius: 1px solid #1d1d1d;
}
.loginbtn:active {
  box-shadow: 0px 5px 10px #1d1d1d;
  transform: translateY(4px);
}
@keyframes loginbtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 775px){
  .leftSpan, .rightSpan {
    display: block;
  }
  .rightSpan span {
    display: none;
  }
}

@media only screen and (max-width: 635px){
  .large {
    display: none;
  }
  .small {
    display: block;
    margin-bottom: 10px;
  }
  .navRight {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 440px){
  .navigation {
    flex-wrap: wrap;
  }
  .navLeft, .navRight {
    justify-content: center;
  }
}