.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  max-width: 185px;
}

/* Navigation */

a {
  text-decoration: none;
  padding: 3px;
  color: #1d1d1d;
}

.rightSpan a {
  padding: 0 10px;
  border-left: 1px solid #1d1d1d;

}
.leftSpan a {
  padding-right: 10px;
}

.topNav {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
}
.navLeft {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-basis: 25%;
}
.navRight {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  text-align: center;
  flex-basis: 75%;
}

.loginBtn {
  background-color: white;
  border: 1.5px solid #1d1d1d;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #1d1d1d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  width: 170px;
}
.loginBtn:hover {
  cursor: pointer;
  background-color: #f1f086;
  border-radius: 1px solid #1d1d1d;
}
.loginBtn:active {
  background-color: #f1f086;
  box-shadow: 0px 5px 10px #1d1d1d;
  transform: translateY(4px);
}
@keyframes dashboardbtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.loginBtn {
  background-color: white;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #1d1d1d;
  height: 30px;
}
.loginBtn:hover {
  border-radius: 1px solid #1d1d1d;
  cursor: pointer;
}
.loginBtn:active {
  box-shadow: 0px 5px 10px #1d1d1d;
  transform: translateY(4px);
}
@keyframes loginbtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.mainNav li {
  list-style: none;
  display: inline-block;
}








