.heading {
    text-align: center;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    align-items: center;    
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.submitBtn {
    margin: 10px 0;
}