.container {
  min-height: 100vh;
}

.bothTablesContainer {
  background-color: rgba(255,255,255,0.85);
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  padding: 20px 0;
}

.tableContainer {
  margin: 20px 20px 0;
  padding: 0px;
}
.tableContainer:last-of-type {
  margin: 5px 20px 20px;
}

.tableHeader,
.tableRow {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.tableHeader {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1d1d1d;
  cursor: pointer;
  padding: 5px;
}

.tablebtn {
  background-color: #66e9a4;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #1d1d1d;
  font-family: Tahoma;
  height: 30px;
  margin: 3px;
  width: 80px;
  cursor: pointer;
}

.tablebtn:last-of-type {
  background-color: #f5a9b4;
}

.tablebtn:hover {
  background-color: #f1f086;
}

ul {
  max-width: 1200px;
  padding-inline-start: 0;
}


li {
  width: 25%;
  padding-right: 10px;
  border-bottom: 2px solid #1d1d1d;
}

.noItemsMsg {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.noItemsBtn {
  background-color: #66e9a4;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #1d1d1d;
  font-family: Tahoma;
  height: 30px;
  margin: 3px;
  width: 130px;
  cursor: pointer;
}
.noItemsBtn:hover {
  background-color: #f1f086;
}


/* .itmes {
  width: 25%;
}
.description {
  width: 25%;
}
.suggested {
  width: 25%;
}

.actions {
  width: 25%;
} */
