.dateTime{
  text-align: right;
}

.imgContainer {
  max-height: 100px;
  overflow: hidden;
}

.img {
  margin-right: 10px;
  width: 200px;
}

.box {
  max-width: 400px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color:rgba(255,255,255,.85);
}

.split {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #66e9a4;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  height: 30px;
}

.altInput {
  display: block;
  margin-left: 20px;
}